.tmp
coverage
.vscode
.idea
tsconfig.*
tslint.*
.travis.yml
.github

# Don't include the raw typescript
src
spec
integration_test
# TODO(rjh) add back once testing isn't just a joke
testing
lib/testing.*
*.tgz
