{
  "name": "functions",
  "description": "Integration test for the Firebase SDK for Google Cloud Functions",
  "scripts": {
    "build": "./node_modules/.bin/tsc"
  },
  "dependencies": {
    "@google-cloud/pubsub": "^2.10.0",
    "firebase-admin": "^9.1.0",
    "firebase-functions": "__SDK_TARBALL__",
    "lodash": "~4.17.2"
  },
  "main": "lib/index.js",
  "devDependencies": {
    "typescript": "~4.2.2"
  },
  "engines": {
    "node": "__NODE_VERSION__"
  },
  "private": true
}
